<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .container{
      border: 1px solid #000;
      display:flex;
      flex-direction:column;
    }

    .patient{
      width:400px;
      margin:4px;
      display:flex;
      flex-direction:column;
    }

    .register{
      width:400px;
      margin:4px auto;
    }
    
    input["type=submit"]{border-radius:6px;
       background-color:#333;
       color:#fff;
    }

    input["type=submit"]:hover{
    background-color:#ccc;
    color:#000;
 }
    </style>
  </head>
  <body>
  <div class="container">
  <div class="login">
  <h2>SHOW BOOKINGS PER DOCTOR</h2>
  <div class="patient">Patient's Name:&nbsp;&nbsp;</div>
 
  <% for(let i = 0; i < booked.length; i++){ %>
   <ul><li>
  <%= booked[i].patient_name %>
</li>
<li>
<%= booked[i].booking_date %>
</li>
<li>
<%= booked[i].booking_reason %>
</li>
<li> <% if(booked[i].booking_confirmed == true){ 
  %>
<%= "Confirmed" %>
</li>
<% } %>
<% if(booked[i].booking_confirmed == false){ 
  %>
<%= "Unconfirmed" %>
</li>
<% if(booked[i].booking_complete == true){ 
  %>
<%= "Completed" %>
</li>

<% } %>
<% } %>
</ul>
  <% } %>
  


</div>
<p> <a href="/logout">Log Out</a></p>  </body>
</html>