<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .container, body{
      border: 1px solid #000;
      margin:0 auto;
 
    }

    .patient{
      width:400px;
      margin:4px;
      display:flex;
      flex-direction:column;
    }

    .register{
      width:400px;
      margin:4px auto;
    }
    
    input["type=submit"]{border-radius:6px;
       background-color:#333;
       color:#fff;
    }

    input["type=submit"]:hover{
    background-color:#ccc;
    color:#000;
 }

 h2{

 }

 ul{
   list-style:none;
 border:1px solid #000;
margin:8px 0 0 8px;}
 /* ul:nth-child(2n-1){
   background-color:#ccc;
 } */
 .bdate{
   float:right;
   padding:8px 4px;
    font-weight: bold;
 }
 .view  {
  padding: 8px 4px;
  font-weight: bold;
  border: 1px solid #000;
  width: 40px;
  height: 20px;
  z-index: 1;
  text-decoration: none;
  float: right;
  top: -50px;
  position: relative;
  margin-right:8px;
}
.view a{
  text-decoration:none;
  width: 40px;
  height: 20px;
}

.view a:hover{
  text-decoration:none;
  color:green;
}

 .bookings{
   width:50%;
 }
    </style>
  </head>
  <body>
  <div class="container">
  <div class="login">
  <h2>Welcome <%=doc[0].doctor_name%></h2>
  <div class="patient">Patient's Information:&nbsp;&nbsp;</div>
 <div class="bookings">
  <% for(let i = 0; i < booked.length; i++){ %>
   <ul>
   <li class="bdate">
<%= booked[i].booking_date %>
</li>
<li><h3>
  <%= booked[i].patient_name %></h3>
</li>
<li><h4>
<%= booked[i].booking_reason %></h4>
</li>
<div class="view"><a href='/view/<%=booked[i].id%>'>View</a></div>
 
</ul>
  <% } %>

</div>


</div>

<p> <a href="/logout">Log Out</a></p>  </body>
</html>