<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .container{
      border: 1px solid #000;
      display:flex;
      flex-direction:column;
    }
    h3{
        margin:0 auto;
        padding-top:10px;
    }

    .login{
      width:150px;
      margin:4px auto;
    }

    .book{
      width:150px;
      margin:4px auto;
    }
    
    button{border-radius:6px;
       background-color:#333;
       color:#fff;  
        margin-top:7px;
    }

    button:hover{
    background-color:#ccc;
    color:#000;
 
 }

 input{
     margin:3px;
 }

 .page_title{
  margin:0 auto;

}
    </style>
  </head>
  <body>

  <div class="container">
  <div class="page_title"><h4> Update Appointment</h4></div>

  <div class="register">

    <form action="/edit/<%=booked[0].id%>" method="post" class="book">

      <input type="text" name="book_name" value="<%= booked[0].patient_name %>">
      <input type="text" name="book_date" value="<%= booked[0].booking_date %>">
      <input type="text" name="book_reason" value="<%= booked[0].booking_reason %>">
      <input type="text" name="book_details" value="<%= booked[0].booking_details %>">
      <button type="submit">Book Appointment</button>

  


    </form>
</div>
<p> 
  </body>
</html>
